# Ignore node_modules folder
node_modules/
**/node_modules/

# Ignore npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore package-lock.json and yarn.lock
package-lock.json
yarn.lock

# Ignore build and dist folders
build/
dist/
.cache/
bundle-parcel/
webpacked/

# Ignore IDE and editor files
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore other unnecessary files
*.log
*.tmp
*.bak